---
import Cart from './Cart';
---

<section class="bg-[#201E1C]">
	<div class="flex h-[12rem] w-screen flex-col items-center justify-center text-pretty text-center">
		<p class="mt-2 h-14 w-96 text-[2rem] font-bold leading-[2.125rem] text-white">
			Creamos un producto sin comparación.
		</p>
		<p class="mt-12 h-2 w-auto text-[1.125rem] font-medium leading-[1.25rem] text-[#808080]">
			Confiable y diseñado para su uso diario.
		</p>
	</div>
	<div class="mt-7 flex h-[50rem] w-screen flex-col items-center">
		<div class="flex w-full flex-col items-center">
			<Cart client:load />
		</div>
	</div>
</section>
