<section class="h-[150vh] w-screen bg-amber-300">
    <div class="h-[40vh] w-screen bg-cyan-200">
        Head
    </div>
    <div class="h-[25vh] w-screen bg-cyan-400">
        tarjetas
    </div>
    <div class="h-[25vh] w-screen bg-cyan-600">
        tarjetas
    </div>
    <div class="h-[25vh] w-screen bg-cyan-800">
        tarjetas
    </div>
    <div class="h-[25vh] w-screen bg-sky-950">
        tarjetas
    </div>
</section>