---
import CardPrecio from "./CardPrecio.astro";
---

<section class="h-[100vh] w-screen bg-amber-300">
    <div class="h-[35vh] w-screen bg-cyan-200">
        Escoge
    </div>
    <div class="h-[65vh] w-screen bg-cyan-400">
        <CardPrecio/>
    </div>
</section>