---
import CardPrecio from './CardPrecio.astro';
---

<section class="flex h-[43rem] w-screen flex-col items-center bg-[#faf8f7]">
	<div class="flex h-[13rem] w-[95%] flex-col justify-between text-center">
		<p class="mt-16 text-[2rem] font-bold leading-[2.1rem] text-[#201E1C]">
			Escoge el plan que mejor se ajuste a ti.
		</p>
		<p class="mt-8 text-[1.2rem] font-medium leading-[1.4rem] text-[#757575]">
			Cualquier plan te da acceso completo a nuestra plataforma.
		</p>
	</div>
	<div class="mt-16 h-[65vh] w-screen bg-[#FAF8F7]" id="planes">
		<CardPrecio />
	</div>
</section>
