<section>
    <div class="h-[50vh] w-screen bg-slate-500">
        Bitcoin
    </div>
    <div class="h-[40vh] w-screen bg-orange-400">
        Visibilizamos
    </div>
    <div class="h-[40vh] w-screen bg-slate-500">
        Corredoras
    </div>
</section>
