<footer class="flex h-[9.5rem] w-screen items-center justify-around bg-[#F7931A]">
	<div class="ml-[-2rem] mt-2 flex flex-col text-white">
		<a class="mb-2" href="#">Linkedin</a>
		<a class="mb-2" href="#">Crunchbase</a>
		<a class="mb-2" href="#">Hackernews</a>
	</div>

	<a class="ml-[-10rem] mt-2" href="#"><img class="w-20" src="/Group_18.svg" alt="Logo" /></a>
</footer>
