<footer class="flex h-[25vh] w-screen flex-col items-center bg-red-300">
	<div>
        <a href="#">Linkedin</a>
        <a href="#">Crunchbase</a>
        <a href="#">Hackernews</a>
    </div>

    <a href="#"><img src="/Group_18.svg" alt=""></a>
</footer>
