<header class="h-[50vh] w-screen bg-red-300 flex flex-col items-center">
    <div class="h-[16vh] w-screen bg-slate-400 flex items-center justify-center">
        Logo
    </div>
    <div class="h-[22vh] w-screen bg-yellow-500 flex items-center justify-center">
        Texto
    </div>
    <div class="h-[12vh] w-screen bg-sky-600 flex items-center justify-center">
        Otro Texto
    </div>
    <div class="h-[8vh] w-60 bg-green-600 flex items-center justify-center text-center relative top-[7%]">
        -----------Isla Flotante-------------
    </div>
</header>