<header class="h-[21rem] w-screen  bg-gradient-to-tr from-[#F7931A] from-[16.69%] to-[#201E1C] flex flex-col items-center">
    <div class="h-28 w-screen  flex items-center justify-center">
        <img src="/heroLogo.svg" alt="HeroLogo">
    </div>
    <div class="text-white  flex items-center justify-center  font-bold text-center text-pretty text-[1.75rem] leading-[1.875rem] w-80 h-28 pb-4">
        La próxima revolución en el intercambio de criptomonedas.
    </div>
    <div class="pt-4 h-[2.8125rem] w-72 text-[#FFE9D4] flex items-center justify-center font-medium text-center text-pretty text-[1rem] leading-[1.125rem]">
        Batabit te ayuda a navegar entre los diferentes precios y tendencias.
    </div>
    <div class="h-12 w-[14.375rem] text-[#201E1C] bg-white flex items-center justify-center text-center relative top-11 rounded text-sm font-bold">
        Conoce Nuestros Planes <img src="/arrow.svg" alt="arrow">
    </div>
</header>