<header
	class="flex h-[21rem] w-screen flex-col items-center bg-gradient-to-tr from-[#F7931A] from-[16.69%] to-[#201E1C]"
>
	<div class="flex h-28 w-screen items-center justify-center">
		<img src="/heroLogo.svg" alt="HeroLogo" />
	</div>
	<div
		class="flex h-28 w-80 items-center justify-center text-pretty pb-4 text-center text-[1.75rem] font-bold leading-[1.875rem] text-white"
	>
		La próxima revolución en el intercambio de criptomonedas.
	</div>
	<div
		class="flex h-[2.8125rem] w-72 items-center justify-center text-pretty pt-4 text-center text-[1rem] font-medium leading-[1.125rem] text-[#FFE9D4]"
	>
		Batabit te ayuda a navegar entre los diferentes precios y tendencias.
	</div>
	<div
		class="relative top-11 flex h-12 w-[14.375rem] items-center justify-center rounded bg-white text-center text-sm font-bold text-[#201E1C] drop-shadow-lg duration-100 hover:bg-slate-50"
	>
		<a href="#planes" class="flex items-center justify-center text-center"
			>Conoce Nuestros Planes <img src="/arrow.svg" alt="arrow" /></a
		>
	</div>
</header>
