<header class="h-[45vh] w-screen bg-red-300 flex flex-col items-center">
    <section class="h-[16vh] w-screen bg-slate-400 flex items-center justify-center">
        Logo
    </section>
    <section class="h-[22vh] w-screen bg-yellow-500 flex items-center justify-center">
        Texto
    </section>
    <section class="h-[12vh] w-screen bg-sky-600 flex items-center justify-center">
        Otro Texto
    </section>
    <section class="h-[8vh] w-60 bg-green-600 flex items-center justify-center text-center relative top-6">
        -----------Isla Flotante-------------
    </section>
</header>