---
import Producto from "../components/Producto.astro";
import Descripcion from "../components/Descripcion.astro"
import Planes from "../components/Planes.astro";
---

<main class="flex flex-col items-center">
    <Producto/>
    <Descripcion/>
    <Planes/>
    <section class="h-full w-screen">
        <img class="h-full w-full" src="/bitcoinbaby.png" alt="img">
    </section>
</main>