---
import Producto from "../components/Producto.astro";
import Descripcion from "../components/Descripcion.astro"
---

<main class="flex flex-col items-center">
    <Producto/>
    <Descripcion/>
</main>