<main class="h-[100vh] w-screen bg-red-600 flex flex-col items-center">
    <section class="mt-20">
        Bitcoin
    </section>
    <section>
        Creamos un producto sin comparación
    </section>
    <section>
        planes
    </section>
</main>